.btn{
background-color:red;
.bt{
background-color:green;
width:50%;
width: 15.2em;
}
*{font-family:phetsarath ot;}
          #a{color:blue;text-decoration:none}
          #a:hover{color:red;background-color:;font-size: 18px}
          h3{
     color:blue;
          }
